h1 {
    color: blue;
}

.completed {
    text-decoration: line-through;
    color: rgb(243, 173, 160);    
}

.trashcan{
    font-size: large;
    margin: 8px;
    color: rgb(213, 55, 55)
    
    
    
}